<!--
  Generated template for the AddRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="header">
    <ion-title>Add Request</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="addRequestForm">
    <ion-list>
      <ion-item [class.invalid]="!addRequestForm.controls.type.valid && (typeChanged || submitAttempt)">
        <ion-label floating>Request Type</ion-label>
        <ion-select #type formControlName="type" (change)="elementChanged(type)">
          <ion-option *ngFor="let type of types" [value]="type.id">{{type.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="error-message" *ngIf="!addRequestForm.controls.type.valid  && (typeChanged || submitAttempt)">
        <p>Please choose request type</p>
      </ion-item>
      <ion-item [class.invalid]="!addRequestForm.controls.message.valid && (messageChanged || submitAttempt)">
        <ion-textarea #message formControlName="message" (change)="elementChanged(message)" rows="4" placeholder="Type your message"></ion-textarea>
      </ion-item>
      <ion-item class="error-message" *ngIf="!addRequestForm.controls.message.valid && (messageChanged || submitAttempt)">
        <p>Please enter atleast 20 words</p>
      </ion-item>
      <ion-item *ngIf="requestimg != ''">
        <img [src]="requestimg" alt="Request Image" />
      </ion-item>
    </ion-list>
  </form>
</ion-content>
