page-home {
    .toolbar-background{
        background-color: #4d4183;
    }
    .toolbar-title{
        color: #fff;
    }
    .scroll-content{
        overflow-x: auto;
        padding:  2px 0 !important;
    }
    .item.item-block .item-inner{
        border-bottom: inherit;
    }
    .item p{
        color: #fff;
    }
    ion-label{
        white-space: inherit
    }
    .card{
        margin: 0;
        width: 100%;
    }
    .request-time{       
        font-size: 12px;
        color: #4d4183;
    }
    .request_list h4, .request_list h2{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }
    .request_list .swiper-slide img{
        width: 100%;
    }
    .card .note-md{
        margin-top: -15px !important;
    }
}
