<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
    <ion-title>Change Password</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="save()">
          <ion-icon name="checkmark"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding-vertical>
    <form [formGroup]="changePassForm" >
        <ion-item [class.invalid]="!changePassForm.controls.passwordGroup.controls.password.valid && (passwordChanged || submitAttempt)" formGroupName="passwordGroup">
          <ion-label floating>Password</ion-label>
          <ion-input type="password" #password formControlName="password" (change)="elementChanged(password)" autocapitalize="off"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!changePassForm.controls.passwordGroup.controls.password.valid  && (passwordChanged || submitAttempt)">
          <p>Please enter password.</p>
        </ion-item>
        <ion-item [class.invalid]="!changePassForm.controls.passwordGroup.controls.confirmPassword.errors?.MatchPassword && (confirmPasswordChanged || submitAttempt)" formGroupName="passwordGroup">
          <ion-label floating>Confirm Password</ion-label>
          <ion-input type="password" #confirmPassword formControlName="confirmPassword" (change)="elementChanged(confirmPassword)" autocapitalize="off"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="changePassForm.controls.passwordGroup.controls.confirmPassword.errors?.MatchPassword  && (confirmPasswordChanged || submitAttempt)">
          <p>Confirm Password should match the Password.</p>
        </ion-item>
        <div padding>
            <button ion-button color="primary" block (click)="save()">Submit</button>
        </div>
    </form>
</ion-content>
